<aside class="app-sidebar">
  <ul class="app-menu">
    <li>
      <a class="app-menu__item active" href="/admin"
        ><i class="app-menu__icon bi bi-speedometer"></i
        ><span class="app-menu__label">Dashboard</span></a
      >
    </li>
    <li class="treeview">
      <a class="app-menu__item" href="#" data-toggle="treeview"
        ><i class="app-menu__icon bi bi-laptop"></i
        ><span class="app-menu__label">Manage Medicines</span
        ><i class="treeview-indicator bi bi-chevron-right"></i
      ></a>
      <ul class="treeview-menu">
        <li>
          <a class="treeview-item" href="/api/admin/add-medicine"
            ><i class="icon bi bi-circle-fill"></i> Add Medicine</a
          >
        </li>
        <li>
          <a class="treeview-item" href="/api/admin/view-med"
            ><i class="icon bi bi-circle-fill"></i> View Medicine</a
          >
        </li>
      </ul>
    </li>
    <li class="treeview">
      <a class="app-menu__item" href="#" data-toggle="treeview"
        ><i class="app-menu__icon bi bi-ui-checks"></i
        ><span class="app-menu__label">Manage Staff</span
        ><i class="treeview-indicator bi bi-chevron-right"></i
      ></a>
      <ul class="treeview-menu">
        <li>
          <a class="treeview-item" href="/api/admin/new-staff"
            ><i class="icon bi bi-circle-fill"></i> Add Staff</a
          >
        </li>
        <li>
          <a class="treeview-item" href="/api/admin/view-staff"
            ><i class="icon bi bi-circle-fill"></i> View Staff</a
          >
        </li>
        <li>
          <a class="treeview-item" href="/api/admin/view-attendance"
            ><i class="icon bi bi-circle-fill"></i> View attendance</a
          >
        </li>
      </ul>
    </li>
    <li class="treeview">
      <a class="app-menu__item" href="#" data-toggle="treeview"
        ><i class="app-menu__icon bi bi-table"></i
        ><span class="app-menu__label">Complaints</span
        ><i class="treeview-indicator bi bi-chevron-right"></i
      ></a>
      <ul class="treeview-menu">
        <li>
          <a class="treeview-item" href="/api/admin/view-complaints"
            ><i class="icon bi bi-circle-fill"></i> View Complaints</a
          >
        </li>
        <li>
          <a class="treeview-item" href="table-data-table.html"
            ><i class="icon bi bi-circle-fill"></i> Data Tables</a
          >
        </li>
      </ul>
    </li>
    <li class="treeview">
      <a class="app-menu__item" href="#" data-toggle="treeview"
        ><i class="app-menu__icon bi bi-file-earmark"></i
        ><span class="app-menu__label">Pages</span
        ><i class="treeview-indicator bi bi-chevron-right"></i
      ></a>
      <ul class="treeview-menu">
        <li>
          <a class="treeview-item" href="blank-page.html"
            ><i class="icon bi bi-circle-fill"></i> Blank Page</a
          >
        </li>
        <li>
          <a class="treeview-item" href="page-login.html"
            ><i class="icon bi bi-circle-fill"></i> Login Page</a
          >
        </li>
        <li>
          <a class="treeview-item" href="page-lockscreen.html"
            ><i class="icon bi bi-circle-fill"></i> Lockscreen Page</a
          >
        </li>
        <li>
          <a class="treeview-item" href="page-user.html"
            ><i class="icon bi bi-circle-fill"></i> User Page</a
          >
        </li>
        <li>
          <a class="treeview-item" href="page-invoice.html"
            ><i class="icon bi bi-circle-fill"></i> Invoice Page</a
          >
        </li>
        <li>
          <a class="treeview-item" href="page-mailbox.html"
            ><i class="icon bi bi-circle-fill"></i> Mailbox</a
          >
        </li>
        <li>
          <a class="treeview-item" href="page-error.html"
            ><i class="icon bi bi-circle-fill"></i> Error Page</a
          >
        </li>
      </ul>
    </li>
    <li>
      <a class="app-menu__item" href="docs.html"
        ><i class="app-menu__icon bi bi-code-square"></i
        ><span class="app-menu__label">Docs</span></a
      >
    </li>
  </ul>
</aside>
